/* Make style signature img */
.page-viewer {
  display: inline-block;
  width: 100%;
  padding: 20px;
  border-radius: 10px;
  background-color: #D8D8D8;
}

#dragSignature {
  width: 100px;
  height: 100px;
  background-color: #ffffff21;
  border: 1px solid red;
}

#signatureImg {
  width: 100%;
  height: 100%;
}